<footer>
    <div class="top-arrow-icon">
        <a href="#">
            <i class="fa-solid fa-chevron-up"></i>
        </a>
    </div>
    <h4>Follow Us</h4>
    <div class="social-icons-container">
        <a href="#">
            <div class="twitter icon"> <i class="fa-brands fa-twitter"></i> </div>
        </a>
        <a href="#">
            <div class="instagram icon"><i class="fa-brands fa-instagram"></i> </div>
        </a>
        <a href="#">
            <div class="facebook icon"> <i class="fa-brands fa-facebook-f"></i></div>
        </a>
    </div>
    <p>© 2022 <span class="gontobyo">Gontobyo</span>, All Rights Reserved.</p>
    <p>Made by the <span class="heart">&#x2665;</span> of <a href="sahreyararafat.tk">SahreyarArafat</a></p>
</footer>